openapi: 3.0.3
info:
  title: 6sense People Search API
  version: '2'
  description: |
    Search contacts by company domain with optional filters (job title, function, level, location,
    industry). Returns contact profile summaries and contactability flags. Use the People Search
    Dictionary endpoint to discover the valid filter values.
  contact:
    name: 6sense API Support
    url: https://api.6sense.com/docs/
servers:
- url: https://api.6sense.com
  description: 6sense API Production
security:
- TokenAuth: []
paths:
  /v2/people/search:
    post:
      summary: Search People By Company
      description: Returns contact profiles matching the supplied domain and filters.
      operationId: searchPeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeopleSearchRequest'
      responses:
        '200':
          description: Search results returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeopleSearchResponse'
  /v2/people/search/dictionary:
    get:
      summary: Get People Search Filter Dictionary
      description: Returns valid filter values for job title, function, level, industry, and other facets.
      operationId: getSearchDictionary
      responses:
        '200':
          description: Dictionary returned.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    PeopleSearchRequest:
      type: object
      required:
      - domain
      properties:
        domain:
          type: string
        jobTitle:
          type: string
        jobFunction:
          type: string
        jobLevel:
          type: string
        location:
          type: string
        industry:
          type: string
        limit:
          type: integer
    PeopleSearchResponse:
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/PersonSummary'
        totalResults:
          type: integer
    PersonSummary:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        jobTitle:
          type: string
        jobFunction:
          type: string
        jobLevel:
          type: string
        location:
          type: string
        linkedinUrl:
          type: string
        hasEmail:
          type: boolean
        hasPhone:
          type: boolean
        hasMobilePhone:
          type: boolean
