openapi: 3.2.0
info:
  title: 6sense Company API
  version: '1.0'
  description: 'Operations tagged Company across 2 of this provider''s published API definitions: 6sense-company-identification-api-openapi.yml, 6sense-scribe-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://epsilon.6sense.com
  description: 6sense Epsilon Production
tags:
- name: Company
paths:
  /v3/company/details:
    get:
      summary: Get Company Details By IP
      description: Identify a company from an IP address. Returns firmographics, scoring, buying stage, profile fit, and segment membership.
      operationId: getCompanyDetails
      parameters:
      - name: ip
        in: query
        description: Visitor IP address (IPv4 or IPv6).
        required: true
        schema:
          type: string
      - name: EpsilonCookie
        in: header
        description: 6sense visitor tracking cookie.
        required: false
        schema:
          type: string
      - name: X-6s-CustomID
        in: header
        description: Custom client-supplied identifier for tracking.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Company identified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailsResponse'
        '401':
          description: Unauthorized.
        '404':
          description: No company match.
        '429':
          description: Rate limit exceeded.
      tags:
      - Company
      security:
      - TokenAuth: []
    servers:
    - url: https://epsilon.6sense.com
      description: 6sense Epsilon Production
  /v1/company/products:
    get:
      operationId: getProductsList
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - API_KEY: []
      tags:
      - Company
  /company/v1/segment/{segment_id}:
    get:
      operationId: getAccountsList
      parameters:
      - name: segment_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentAccountsResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - API_KEY: []
      tags:
      - Company
  /company/v1/segments:
    get:
      operationId: getSegments
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgToSegmentsResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - API_KEY: []
      tags:
      - Company
  /v1/company/segment/{segment_id}:
    get:
      operationId: getAccountsList_1
      parameters:
      - name: segment_id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentAccountsResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - API_KEY: []
      tags:
      - Company
  /v1/company/segments:
    get:
      operationId: getSegments_1
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgToSegmentsResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - API_KEY: []
      tags:
      - Company
  /v1/company/validate_access/segments:
    get:
      operationId: validateSegment
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      deprecated: true
      security:
      - API_KEY: []
      tags:
      - Company
components:
  schemas:
    ProductScore:
      type: object
      properties:
        product:
          type: string
        product_display_name:
          type: string
        is_6qa:
          type: boolean
        intent_score:
          type: integer
        buying_stage:
          type: string
          enum:
          - Purchase
          - Decision
          - Consideration
          - Awareness
          - Target
        profile_score:
          type: integer
        profile_fit:
          type: string
          enum:
          - Strong
          - Moderate
          - Weak
    CompanyDetailsResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Company'
        scores:
          type: array
          items:
            $ref: '#/components/schemas/ProductScore'
        segments:
          $ref: '#/components/schemas/Segments'
        confidence:
          type: string
          enum:
          - Very High
          - High
          - Moderate
          - Low
    Segments:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
        names:
          type: array
          items:
            type: string
        list:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
    Company:
      type: object
      properties:
        company_match:
          type: string
          enum:
          - Match
          - Non-actionable Match
          - No Match
        additional_comment:
          type: string
        companyId:
          type: string
        domain:
          type: string
        name:
          type: string
        region:
          type: string
        country:
          type: string
        country_iso_code:
          type: string
        state:
          type: string
        state_code:
          type: string
        city:
          type: string
        address:
          type: string
        zip:
          type: string
        phone:
          type: string
        industry:
          type: string
        industry_v2:
          type: array
          items:
            type: object
            properties:
              industry:
                type: string
              subindustry:
                type: string
        employee_range:
          type: string
        employee_count:
          type: integer
        revenue_range:
          type: string
        annual_revenue:
          type: number
        is_blacklisted:
          type: boolean
        is_6qa:
          type: boolean
        geoIP_country:
          type: string
        geoIP_state:
          type: string
        geoIP_city:
          type: string
        sic:
          type: string
        sic_description:
          type: string
        naics:
          type: string
        naics_description:
          type: string
    ProductResponse:
      type: object
      properties:
        org:
          type: string
        products:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    OrgToSegmentsResponse:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int32
        names:
          type: array
          items:
            type: string
        list:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
    Account:
      type: object
      properties:
        name:
          type: string
        domain:
          type: string
        country:
          type: string
    SegmentAccountsResponse:
      type: object
      properties:
        count:
          type: integer
          format: int32
        created_at:
          type: string
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based auth. Format: `Token <api_token>`.'
    API_KEY:
      type: apiKey
      name: Authorization
      in: header
x-refined-from:
- 6sense-company-identification-api-openapi.yml
- 6sense-scribe-openapi.json
