openapi: 3.2.0
info:
  title: 6sense People API
  version: '1.0'
  description: 'Operations tagged People across 2 of this provider''s published API definitions: 6sense-people-search-api-openapi.yml, 6sense-scribe-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.6sense.com
  description: 6sense API Production
tags:
- name: People
paths:
  /v2/people/search:
    post:
      summary: Search People By Company
      description: Returns contact profiles matching the supplied domain and filters.
      operationId: searchPeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeopleSearchRequest'
      responses:
        '200':
          description: Search results returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeopleSearchResponse'
      tags:
      - People
      security:
      - TokenAuth: []
    servers:
    - url: https://api.6sense.com
      description: 6sense API Production
  /v2/people/search/dictionary:
    get:
      summary: Get People Search Filter Dictionary
      description: Returns valid filter values for job title, function, level, industry, and other facets.
      operationId: getSearchDictionary
      responses:
        '200':
          description: Dictionary returned.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
      tags:
      - People
      security:
      - TokenAuth: []
    servers:
    - url: https://api.6sense.com
      description: 6sense API Production
  /v2/people/enrichment:
    post:
      operationId: getEnrichment
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScribeEnrichmentResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - API_KEY: []
      tags:
      - People
      summary: Get enrichment
      x-summary-source: derived
  /v2/people/score:
    post:
      operationId: getScore
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScribeScoreResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - API_KEY: []
      tags:
      - People
      summary: Get score
      x-summary-source: derived
  /v2/people/full:
    post:
      operationId: getScoreAndEnrichment
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScribeResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - API_KEY: []
      tags:
      - People
      summary: Get score and enrichment
      x-summary-source: derived
  /v2/people:
    post:
      operationId: scoreV2
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScribeResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - API_KEY: []
      tags:
      - People
      summary: Score V2
      x-summary-source: derived
components:
  schemas:
    PersonSummary:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        jobTitle:
          type: string
        jobFunction:
          type: string
        jobLevel:
          type: string
        location:
          type: string
        linkedinUrl:
          type: string
        hasEmail:
          type: boolean
        hasPhone:
          type: boolean
        hasMobilePhone:
          type: boolean
    PeopleSearchResponse:
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/PersonSummary'
        totalResults:
          type: integer
    PeopleSearchRequest:
      type: object
      required:
      - domain
      properties:
        domain:
          type: string
        jobTitle:
          type: string
        jobFunction:
          type: string
        jobLevel:
          type: string
        location:
          type: string
        industry:
          type: string
        limit:
          type: integer
    ProductScore:
      type: object
      properties:
        product:
          type: string
        company_intent_score:
          type: integer
          format: int32
        company_buying_stage:
          type: string
        company_profile_score:
          type: integer
          format: int32
        company_profile_fit:
          type: string
        contact_intent_score:
          type: integer
          format: int32
        contact_grade:
          type: string
        contact_profile_score:
          type: integer
          format: int32
        contact_profile_fit:
          type: string
    ScribeResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Firmographs'
        scores:
          type: array
          items:
            $ref: '#/components/schemas/ProductScore'
        segments:
          $ref: '#/components/schemas/Segments'
    ScribeEnrichmentResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Firmographs'
        segments:
          $ref: '#/components/schemas/Segments'
    Segments:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int32
        names:
          type: array
          items:
            type: string
        list:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    ScribeScoreResponse:
      type: object
      properties:
        scores:
          type: array
          items:
            $ref: '#/components/schemas/ProductScore'
    Firmographs:
      type: object
      properties:
        domain:
          type: string
        name:
          type: string
        region:
          type: string
        country:
          type: string
        countryISOCode:
          type: string
        state:
          type: string
        city:
          type: string
        streetAddress:
          type: string
        postalCode:
          type: string
        companyPhone:
          type: string
        industry:
          type: string
        employeeRange:
          type: string
        revenueRange:
          type: string
        employeeCount:
          type: string
        annualRevenue:
          type: string
        segments:
          uniqueItems: true
          type: array
          items:
            type: string
        industryV2RankedList:
          type: array
          writeOnly: true
          items:
            type: object
            additionalProperties:
              type: string
        siccode:
          type: string
        naicscode:
          type: string
        sicdescription:
          type: string
        naicsdescription:
          type: string
        naciscode:
          type: string
          writeOnly: true
        industry_v2:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
    API_KEY:
      type: apiKey
      name: Authorization
      in: header
x-refined-from:
- 6sense-people-search-api-openapi.yml
- 6sense-scribe-openapi.json
