openapi: 3.2.0
info:
  title: 6sense People API
  version: '1.0'
  description: 'Operations tagged People across 4 of this provider''s published API definitions: 6sense-lead-scoring-api-openapi.yml, 6sense-lead-scoring-firmographics-api-openapi.yml, 6sense-people-search-api-openapi.yml, 6sense-scribe-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://scribe.6sense.com
  description: 6sense Scribe Production
- url: https://api.6sense.com
  description: 6sense API Production
tags:
- name: People
paths:
  /v2/people/score:
    post:
      summary: Score A Lead
      description: Returns predictive scores per product for a contact.
      operationId: scoreLead
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              - country
              properties:
                email:
                  type: string
                country:
                  type: string
                website:
                  type: string
                company:
                  type: string
                title:
                  type: string
                leadsource:
                  type: string
                firstname:
                  type: string
                lastname:
                  type: string
                role:
                  type: string
                industry:
                  type: string
      responses:
        '200':
          description: Scoring returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringResponse'
      tags:
      - People
      security:
      - TokenAuth: []
    servers:
    - url: https://scribe.6sense.com
      description: 6sense Scribe Production
  /v2/people/full:
    post:
      summary: Get Lead Scoring And Firmographics
      description: Returns firmographics, scoring, and segment membership for a contact.
      operationId: getFullLeadData
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              - country
              properties:
                email:
                  type: string
                country:
                  type: string
                website:
                  type: string
                company:
                  type: string
                title:
                  type: string
                leadsource:
                  type: string
                firstname:
                  type: string
                lastname:
                  type: string
                role:
                  type: string
                industry:
                  type: string
      responses:
        '200':
          description: Combined response returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullLeadResponse'
      tags:
      - People
      security:
      - TokenAuth: []
    servers:
    - url: https://scribe.6sense.com
      description: 6sense Scribe Production
  /v2/people/search:
    post:
      summary: Search People By Company
      description: Returns contact profiles matching the supplied domain and filters.
      operationId: searchPeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeopleSearchRequest'
      responses:
        '200':
          description: Search results returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeopleSearchResponse'
      tags:
      - People
      security:
      - TokenAuth: []
    servers:
    - url: https://api.6sense.com
      description: 6sense API Production
  /v2/people/search/dictionary:
    get:
      summary: Get People Search Filter Dictionary
      description: Returns valid filter values for job title, function, level, industry, and other facets.
      operationId: getSearchDictionary
      responses:
        '200':
          description: Dictionary returned.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: string
      tags:
      - People
      security:
      - TokenAuth: []
    servers:
    - url: https://api.6sense.com
      description: 6sense API Production
  /v2/people/enrichment:
    post:
      operationId: getEnrichment
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScribeEnrichmentResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - API_KEY: []
      tags:
      - People
  /v2/people:
    post:
      operationId: scoreV2
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScribeResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '402':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - API_KEY: []
      tags:
      - People
components:
  schemas:
    Score:
      type: object
      properties:
        product:
          type: string
        company_intent_score:
          type: integer
          minimum: 0
          maximum: 100
        company_buying_stage:
          type: string
          enum:
          - Purchase
          - Decision
          - Consideration
          - Awareness
          - Target
        company_profile_score:
          type: integer
          minimum: 0
          maximum: 100
        company_profile_fit:
          type: string
          enum:
          - Strong
          - Moderate
          - Weak
        contact_intent_score:
          type: integer
          minimum: 0
          maximum: 100
        contact_grade:
          type: string
          enum:
          - A
          - B
          - C
          - D
        contact_profile_score:
          type: integer
          minimum: 0
          maximum: 100
        contact_profile_fit:
          type: string
          enum:
          - Strong
          - Moderate
          - Weak
    ScoringResponse:
      type: object
      properties:
        scores:
          type: array
          items:
            $ref: '#/components/schemas/Score'
    Score_2:
      type: object
      properties:
        product:
          type: string
        company_intent_score:
          type: integer
        company_buying_stage:
          type: string
          enum:
          - Purchase
          - Decision
          - Consideration
          - Awareness
          - Target
        company_profile_score:
          type: integer
        company_profile_fit:
          type: string
          enum:
          - Strong
          - Moderate
          - Weak
        contact_intent_score:
          type: integer
        contact_grade:
          type: string
          enum:
          - A
          - B
          - C
          - D
        contact_profile_score:
          type: integer
        contact_profile_fit:
          type: string
          enum:
          - Strong
          - Moderate
          - Weak
    FullLeadResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Company'
        scores:
          type: array
          items:
            $ref: '#/components/schemas/Score_2'
        segments:
          $ref: '#/components/schemas/Segments'
    Segments:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
        names:
          type: array
          items:
            type: string
        list:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
    Company:
      type: object
      properties:
        companyId:
          type: string
        domain:
          type: string
        name:
          type: string
        region:
          type: string
        country:
          type: string
        countryISOCode:
          type: string
        state:
          type: string
        city:
          type: string
        streetAddress:
          type: string
        postalCode:
          type: string
        companyPhone:
          type: string
        industry:
          type: string
        employeeRange:
          type: string
        revenueRange:
          type: string
        employeeCount:
          type: integer
        annualRevenue:
          type: number
        titleLevel:
          type: string
        titleFunction:
          type: string
        sicdescription:
          type: string
        siccode:
          type: string
        naicscode:
          type: string
        naicsdescription:
          type: string
    PeopleSearchResponse:
      type: object
      properties:
        people:
          type: array
          items:
            $ref: '#/components/schemas/PersonSummary'
        totalResults:
          type: integer
    PeopleSearchRequest:
      type: object
      required:
      - domain
      properties:
        domain:
          type: string
        jobTitle:
          type: string
        jobFunction:
          type: string
        jobLevel:
          type: string
        location:
          type: string
        industry:
          type: string
        limit:
          type: integer
    PersonSummary:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        jobTitle:
          type: string
        jobFunction:
          type: string
        jobLevel:
          type: string
        location:
          type: string
        linkedinUrl:
          type: string
        hasEmail:
          type: boolean
        hasPhone:
          type: boolean
        hasMobilePhone:
          type: boolean
    ProductScore:
      type: object
      properties:
        product:
          type: string
        company_intent_score:
          type: integer
          format: int32
        company_buying_stage:
          type: string
        company_profile_score:
          type: integer
          format: int32
        company_profile_fit:
          type: string
        contact_intent_score:
          type: integer
          format: int32
        contact_grade:
          type: string
        contact_profile_score:
          type: integer
          format: int32
        contact_profile_fit:
          type: string
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    ScribeScoreResponse:
      type: object
      properties:
        scores:
          type: array
          items:
            $ref: '#/components/schemas/ProductScore'
    Firmographs:
      type: object
      properties:
        domain:
          type: string
        name:
          type: string
        region:
          type: string
        country:
          type: string
        countryISOCode:
          type: string
        state:
          type: string
        city:
          type: string
        streetAddress:
          type: string
        postalCode:
          type: string
        companyPhone:
          type: string
        industry:
          type: string
        employeeRange:
          type: string
        revenueRange:
          type: string
        employeeCount:
          type: string
        annualRevenue:
          type: string
        segments:
          uniqueItems: true
          type: array
          items:
            type: string
        industryV2RankedList:
          type: array
          writeOnly: true
          items:
            type: object
            additionalProperties:
              type: string
        siccode:
          type: string
        naicscode:
          type: string
        sicdescription:
          type: string
        naicsdescription:
          type: string
        naciscode:
          type: string
          writeOnly: true
        industry_v2:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
    ScribeResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Firmographs'
        scores:
          type: array
          items:
            $ref: '#/components/schemas/ProductScore'
        segments:
          $ref: '#/components/schemas/Segments_2'
    ScribeEnrichmentResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Firmographs'
        segments:
          $ref: '#/components/schemas/Segments_2'
    Segments_2:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int32
        names:
          type: array
          items:
            type: string
        list:
          type: array
          items:
            type: object
            additionalProperties:
              type: object
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based auth. Format: `Token <api_token>`.'
    API_KEY:
      type: apiKey
      name: Authorization
      in: header
x-refined-from:
- 6sense-lead-scoring-api-openapi.yml
- 6sense-lead-scoring-firmographics-api-openapi.yml
- 6sense-people-search-api-openapi.yml
- 6sense-scribe-openapi.json
