openapi: 3.0.3
info:
  title: 6sense Lead Scoring API
  version: '2'
  description: |
    Returns predictive product-level lead scoring for a contact: company intent score, buying stage,
    profile fit, and contact-level intent and grade derived from 6sense's predictive models.
  contact:
    name: 6sense API Support
    url: https://api.6sense.com/docs/
servers:
- url: https://scribe.6sense.com
  description: 6sense Scribe Production
security:
- TokenAuth: []
paths:
  /v2/people/score:
    post:
      summary: Score A Lead
      description: Returns predictive scores per product for a contact.
      operationId: scoreLead
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              - country
              properties:
                email:
                  type: string
                country:
                  type: string
                website:
                  type: string
                company:
                  type: string
                title:
                  type: string
                leadsource:
                  type: string
                firstname:
                  type: string
                lastname:
                  type: string
                role:
                  type: string
                industry:
                  type: string
      responses:
        '200':
          description: Scoring returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringResponse'
components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based auth. Format: `Token <api_token>`.'
  schemas:
    ScoringResponse:
      type: object
      properties:
        scores:
          type: array
          items:
            $ref: '#/components/schemas/Score'
    Score:
      type: object
      properties:
        product:
          type: string
        company_intent_score:
          type: integer
          minimum: 0
          maximum: 100
        company_buying_stage:
          type: string
          enum: [Purchase, Decision, Consideration, Awareness, Target]
        company_profile_score:
          type: integer
          minimum: 0
          maximum: 100
        company_profile_fit:
          type: string
          enum: [Strong, Moderate, Weak]
        contact_intent_score:
          type: integer
          minimum: 0
          maximum: 100
        contact_grade:
          type: string
          enum: [A, B, C, D]
        contact_profile_score:
          type: integer
          minimum: 0
          maximum: 100
        contact_profile_fit:
          type: string
          enum: [Strong, Moderate, Weak]
