openapi: 3.0.3
info:
  title: 6sense Company Firmographics API
  version: '3'
  description: |
    Returns company firmographics based on email or domain. Includes industry, employee/revenue
    ranges, SIC/NAICS codes, and 6sense segment membership when applicable.
  contact:
    name: 6sense API Support
    url: https://api.6sense.com/docs/
servers:
- url: https://api.6sense.com
  description: 6sense API Production
security:
- TokenAuth: []
paths:
  /v1/enrichment/company:
    post:
      summary: Enrich Company By Email Or Domain
      description: Returns firmographic data for a company given an email or domain.
      operationId: enrichCompany
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: []
              properties:
                email:
                  type: string
                  description: Email address (required if no domain).
                domain:
                  type: string
                  description: Company domain (required if no email).
                country:
                  type: string
                company:
                  type: string
                industry:
                  type: string
                title:
                  type: string
                role:
                  type: string
                firstname:
                  type: string
                lastname:
                  type: string
                leadsource:
                  type: string
      responses:
        '200':
          description: Company firmographics returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmographicsResponse'
        '401':
          description: Unauthorized.
        '404':
          description: Company not found.
        '429':
          description: Rate limit exceeded.
components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based auth. Format: `Token <api_token>`.'
  schemas:
    FirmographicsResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Company'
        segments:
          $ref: '#/components/schemas/Segments'
    Company:
      type: object
      properties:
        companyId:
          type: string
        domain:
          type: string
        name:
          type: string
        industry:
          type: string
        country:
          type: string
        countryISOCode:
          type: string
        region:
          type: string
        state:
          type: string
        city:
          type: string
        streetAddress:
          type: string
        postalCode:
          type: string
        companyPhone:
          type: string
        employeeCount:
          type: string
        employeeRange:
          type: string
        annualRevenue:
          type: string
        revenueRange:
          type: string
        siccode:
          type: string
        sicdescription:
          type: string
        naicscode:
          type: string
        naicsdescription:
          type: string
        titleLevel:
          type: string
        titleFunction:
          type: string
    Segments:
      type: object
      properties:
        ids:
          type: array
          items:
            type: integer
        names:
          type: array
          items:
            type: string
        list:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
